/* Resetear márgenes y paddings predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluye bordes y paddings dentro del ancho/alto */
    font-family: "Poppins", sans-serif;
}

/* Estilo para ocupar todo el alto y ancho de la pantalla */
html, body {
    width: 100%;
    height: 100%;
}

input:focus,
textarea:focus {
  outline: none;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    text-align: center;
}
#modal input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 110000;
}

#modal-rename, #modal-delete {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 110000;
    text-align: center;
}
.modal-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #363636;
    padding: 20px;
    margin: 100px auto;
    width: 30%;
    min-width: 300px;
    border-radius: 8px;
    color: white;
}
#modal-rename input, #modal input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #575757;
    border-radius: 10px;
    color: white;
    border: none;
}
.modal-buttons{
    display: flex;
    gap: 10px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #3f3f3f;
    color: white;
}

#placeholder-message{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
}
#placeholder-message h2{
    font-size: 30px;
}
#placeholder-message p{
    font-size: 20px;
}

.logo{
    width: 60px;
    height: auto;
}

#main{
    width: 100%;
    height: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 15px;
    padding: 20px;
}

#editor {
    width: 100%;
    height: 99%;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    resize: none;
}
#editor-container {
    border: none;
    color: white;
    height: 85%;
    font-size: 13px;
}

#editor-container .ql-editor::-webkit-scrollbar {
    width: 10px;
}
#editor-container .ql-editor::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}
#editor-container .ql-editor:hover::-webkit-scrollbar-thumb {
    background: #575757; /* Se hace más visible al pasar el mouse */
}

#titulo-nota {
    margin-bottom: 20px;
    font-weight: 700;
    width: 100%;
}

/* ----------------- Editor de texto ------------------------------- */

.ql-toolbar.ql-snow {
    background-color: #363636 !important;
    border: none !important;
    color: white !important;
    border-radius: 10px;
    /* margin-bottom: 20px; */
  }
  .ql-container.ql-snow {
    background-color: transparent;
    color: white;
    border: none;
  }
  .ql-editor {
    min-height: 400px;
    font-size: 16px;
  }
  .ql-picker, .ql-picker-label, .ql-stroke {
    color: white;
    stroke: white;
    fill: white;
  }

  .ql-editor img{
    width: 50%;
    max-width: 50%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  .ql-editor .ql-video{
    width: 100%;
    height: 80%;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
  .ql-snow .ql-picker,
  .ql-snow .ql-picker-label,
  .ql-snow .ql-picker-item {
    color: white !important;
  }

  .ql-snow .ql-picker-options{
    background-color: #2c2c2c !important;
  }
  
  /* SVG icons */
  .ql-snow .ql-stroke {
    stroke: white !important;
  }
  .ql-snow .ql-stroke-miter {
    stroke: white !important;
  }
  /* .ql-snow .ql-picker.ql-expanded .ql-picker-options {
    background-color: #2e2e2e !important;
    border-color: #555 !important;
  } */
  
  /* Hover y active states */
  .ql-toolbar button:hover,
  .ql-toolbar button.ql-active {
    background-color: #444 !important;
    border-radius: 10px;
  }

  .ql-snow svg path {
    stroke: white !important;
  }

  .ql-snow .ql-picker.ql-color .ql-picker-options,
    .ql-snow .ql-picker.ql-background .ql-picker-options {
    border: 1px solid #555;
    }

    .ql-snow .ql-picker.ql-color .ql-picker-item,
    .ql-snow .ql-picker.ql-background .ql-picker-item {
    border: 1px solid transparent;
    margin: 2px;
    width: 20px;
    height: 20px;
    }

    .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill{
        fill: white !important;
    }


/* ----------------- Editor de texto ------------------------------- */

#editor::-webkit-scrollbar {
    width: 10px;
}
#editor::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}
#editor:hover::-webkit-scrollbar-thumb {
    background: #575757; /* Se hace más visible al pasar el mouse */
}

#titulo-nota, #editor{
    background-color: transparent;
    border: none;
    color: white;
}

#sidebar {
    position: relative;
    display: flex;
    gap: 30px;
    padding: 0rem;
    width: auto;
    height: 100%;
    background-color: #363636;
    color: white;
    transition: transform 0.3s ease;
}

#sidebar.hidden {
  transform: translateX(0%);
}

#sidebar-container{
    display: flex;
    gap: 30px;
    padding: 1rem;
    width: auto;
    height: 100%;
    background-color: #363636;
    color: white;
}

#folders-container{
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#folders {
    list-style: none;
    padding: 0;
    margin: 0;
}

.controls-folders{
    display: flex;
    gap: 10px;
    height: 20px;
    max-height: 40px;
}

.folder-item{
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background: #363636;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
    white-space: normal;     /* permite múltiples líneas */
    word-break: break-word;
}

.folder-item .controls-folders button {
    background-color: transparent;
    border: none;
    /* padding: 0px 2px; */
    transition: all .5s;
    cursor: pointer;
}
#file-list-container{
    width: auto;
    width: 200px;
    height: 100%;
    overflow-y: hidden;  /* Habilita el scroll vertical */
    overflow-x: hidden; /* Evita el scroll horizontal */
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boton{
    color: white;

    font-size: 13px;
    font-weight: 600;

    width: 100%;
    padding: 10px;
    box-shadow: none;
    border: none;
    cursor: pointer;

    border-radius: 5px;
    background-color: #474747;
    transition: background-color 0.3s ease;
}
.aceptar{
    color: white;
    background-color: transparent;

    font-size: 13px;
    font-weight: 600;

    width: 100%;
    padding: 10px;
    box-shadow: none;
    border: none;
    cursor: pointer;

    border-radius: 5px;
    background-color: #616161;
    transition: background-color 0.3s ease;
}

#save-btn{
    width: auto;
    padding: 10px 40px;
    font-size: 15px;
}

#file-list{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 19px;
    
    display: flex;
    flex-direction: column;
}

.files-container {
    max-height: 100%;  /* Ajusta esto según el diseño */
    overflow-y: auto;  /* Habilita el scroll vertical */
    overflow-x: hidden; /* Evita el scroll horizontal */
    padding-right: 5px;
    padding-bottom: 40px;
}

.files-container::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
.files-container::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}
.files-container:hover::-webkit-scrollbar-thumb {
    background: #575757; /* Se hace más visible al pasar el mouse */
}

.folders-container {
    max-height: 100%;  /* Ajusta esto según el diseño */
    overflow-y: auto;  /* Habilita el scroll vertical */
    overflow-x: hidden; /* Evita el scroll horizontal */
    padding-right: 5px;
    padding-bottom: 40px;
}

.folders-container::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
.folders-container::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}
.folders-container:hover::-webkit-scrollbar-thumb {
    background: #575757; /* Se hace más visible al pasar el mouse */
}

#file-list li{
    padding: 0.5rem;
    margin: 0.5rem 0;
    background: #363636;
    border-radius: 5px;
    cursor: pointer;
}

.file-item{
    display: flex;
    padding: 15px;
    gap: 10px;
    justify-content: space-between;
    color: white;
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    background-color: #363636;
    transition: background-color 0.3s ease;
    white-space: normal;     /* permite múltiples líneas */
    word-break: break-word;
}

.folder-item:hover, .file-item:hover, .boton:hover {
    background-color: #575757;
}

.eliminar-nota{
    border: none;
    background-color: transparent;
    color: white;
}

#titulo-nota{
    border: none;
    font-size: 30px;
}

#toggle-aside {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 1.1rem;
    font-size: 20px;

    color: white;
    border-radius: 50%;
    background-color: #363636;
    border: none;
    cursor: pointer;

    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#toggle-aside-hide{
    display: none;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;

    color: white;
    border-radius: 50%;
    background-color: #363636;
    border: none;
    cursor: pointer;

    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#toggle-aside:hover, #toggle-aside-hide:hover{
    background-color: #2e2e2e;
} 

/* Posición fija en la esquina inferior izquierda */
.settings-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
  
  #settings-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #575757;
    border-radius: 50%;
    border: none;
    color: white;
  }
  #settings-button svg {
    width: 23px;
    transition: transform 0.3s ease;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    left: 100%; /* aparece a la derecha del botón */
    bottom: 14%;
    z-index: 100;
    padding: .7rem;
  }
  
  .settings-container:hover .dropdown-menu {
    display: block;
  }
  .settings-container:hover #settings-button svg{
    transform: rotate(90deg);
  }

  .options{
    display: flex;
    flex-direction: column;
    width: 250px;
    background: #474747;
    border: none;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 2px 2px 5px rgba(0,0,0,0.2); */
  }

  .toggle-switch {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: .5rem;
    border-radius: 10px;
    gap: 8px;
    user-select: none;
  }
  .toggle-switch input {
    display: none; /* Oculta el checkbox original */
  }
  /* .toggle-switch:hover{
    background-color: #616161;
  } */

  .toggle-switch svg{
    width: 20px;
  }
  
  .slider {
    width: 40px;
    height: 20px;
    background-color: #363636;
    border-radius: 20px;
    position: relative;
    transition: background-color 0.2s;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s;
  }
  
  /* Cuando el checkbox está seleccionado */
  .toggle-switch input:checked + .slider {
    background-color: #9e03d6;
  }
  
  .toggle-switch input:checked + .slider::before {
    transform: translateX(20px);
  }
  
  .toggle-label {
    color: white;
    white-space: nowrap; 
  }


/* responsive desing Mobile */

/* Pantallas pequeñas (teléfonos grandes en modo vertical) */
@media (max-width: 1024px) {
    #app {
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        overflow-x: hidden;
         /* Habilita el scroll vertical */
    }

    #sidebar {
        position: absolute;
        top: 0;
        left: 0;
        /* background: #333; */
        background: transparent;
        height: 100%;
        z-index: 10;
        padding: 0rem;
        width: auto;
        max-height: 100%;
        gap: 10px;
        /* max-width: 100dvw;
        min-width: 100dvw; */
    }
    #sidebar.hidden {
        transform: translateX(-130%);
      }

    #sidebar-container{
        display: flex;
        gap: 30px;
        padding: 1rem;
        width: auto;
        height: 100%;
        background-color: #363636;
        color: white;
    }

    #toggle-aside {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
    }
    
    #toggle-aside-hide{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #main{
        width: 100%;
        height: 95%;
        /* margin-top: 50px; */
    }
    
    .ql-editor {
        width: 100%;
        height: 100% !important;
    }
    .ql-editor img{
        width: 80%;
        height: auto;
        border-radius: 6px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }
    .ql-editor .ql-video{
        width: 100%;
        height: 80%;
    }
    #editor-container {
        border: none;
        color: white;
        font-size: 13px;
    }

    #titulo-nota {
        padding-left: 70px;
        width: 100%;
    }

    /* #sidebar {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 1rem;
        width: auto;
        height: auto;
    } */

    /* #folders-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    #file-list-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin: 0;
        padding: 0;
    } */

    h2{
        font-size: 18px;
    }

    /* .files-container {
        max-height: 100%;
        overflow-y: hidden; 
        overflow-x: auto; 
        padding-right: 5px;
        padding-bottom: 0px;
    }
    .folders-container {
        max-height: 100%; 
        overflow-y: hidden;  
        overflow-x: auto; 
        padding-right: 5px;
        padding-bottom: 0px;
    } */

    /* .boton{
        align-items: center;
        justify-content: center;
    
        width: auto;
        height: 100%;
    } */

    .modal-buttons .boton{
        width: 100%;
    }

    .titulo-boton{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* .titulo-boton{
        display: flex;
        width: 100%;
        height: 35px;
        flex-direction: row;
        gap: 30px;
        
        justify-content: start;
        align-items: center;
    } */

    /* #folders, #file-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        gap: 15px;
    } */

    .file-item, .folder-item{
        display: flex;
        width: auto;
        /* white-space: nowrap;  */
        font-size: 15px;
        gap: 4px;
    }

    #placeholder-message{
        width: 100%;
        padding: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }
  }

